{%extends "layout.html"%}
{%block head%}<title>Login</title>{%endblock%}
{%block body%}
	<div id="container">
		<h1 class="text-center">Please login</h1>
		<form action="" method="post" class="text-center">
			Username:  <input type="text" name="user" />
			<br />
			Password:  <input type="text" name="pass" />
			<br />
			<input type="submit" value="Login" />
		</form>
		<div class="text-center">
			<a href="{{ url_for("create_profile") }}">Create a new account</a>
		</div>
	</div>
{%endblock%}
