{%extends "layout.html"%}
{%block title%}<title>{{user}}</title>{%endblock%}
{%block body%}
	<h1>Welcome, {{user}}</h1>
	<form action="" method="post">
		<div>
			Chatroom Name:  <input type="text" name="create" required>
			<br/>
			<input type="submit" value="Create Chatroom">
		</div>
	</form>
	<br/>
	{% if chatrooms %}
		{% for cr in chatrooms %}
			<h3>{{ cr.name }}</h3>
			<form action="" method = "post">
				<input type="hidden" name="join" value="{{cr.name}}">
				<input type="submit" value="Join Chatroom">
			</form>
			{% if cr.creator_name == user %}
				<form action="" method = "post">
					<input type="hidden" name="delete" value="{{cr.name}}">
					<input type="submit" value="Delete Chatroom">
				</form>
			{% endif %}
			<br/>
		{% endfor %}
	{% else %}
		<p> There are no chatrooms available right now!</p>
	{% endif %}
	<br/>
	<a href="{{ url_for("unlogger") }}">click here to logout</a>
{%endblock%}
