{%extends "layout.html"%}
{% block head %}
	<script src="{{url_for("static", filename="chatroom.js")}}"></script>
	<link rel="stylesheet", href="{{url_for("static", filename="style.css")}}", type="text/css"/>
	<link rel="stylesheet", href="{{url_for("static", filename="roomPageStyle.css")}}", type="text/css"/>
	<title>{{chatroom}}</title>
{% endblock %}
{% block body %}
	<div>
		<div id="container">
			<h1 class="text-center" id="header">{{chatroom}}</h1>
			<div id="chatbox">
				<div id="history">
				</div>
				<textarea placeholder="Type here..." id="typing" onKeydown="sendMessage(event);"></textarea>
				
			</div>
			<form action="" method = "post" class="text-center">
				<input type="hidden" name="leave" value="{{chatroom.name}}">
					<input type="submit" value="Leave Chatroom">
				<br/>
			</form>
			<div class="text-center">
				<a href="{{ url_for("unlogger") }}">click here to logout</a>
			</div>
		</div>
	</div>
{% endblock %}